
/*NAVBAR*/
.navbar-brand{
	text-align: left;
	font-family: 'Satisfy', cursive;
	font-size: 30pt;
}

.navbar .nav li a{
	font-family: 'Satisfy', cursive;
	font-size: 15pt;
	color: #93c54b;
}

/*HOME*/
.container h1{
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: #282828;
	font-size: 100pt;
	text-shadow: 2px 2px 4px white;
}
.container h4{
	text-align: center;
	text-shadow: 1px 1px 0.5px white;
	margin-left: 130px;
	margin-top:-30px;
}


.home-background{
	background-image: url(/static/images/car_blur_blur.jpg);
	background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    width: 100%;
	background-repeat: none;
}

.form-container{
	margin: 10px 50px 50px 50px;
	padding-right: 25%;
	padding-left: 25%;
}

.form-group-home {
	text-align: center;
	list-style-type: none;
	padding-top: 20px;
	color: #D0D0D0;
	text-shadow: 2px 2px 4px black;
}


.form-group-home input, textarea{
	text-align: center;
	color: #282828;
	font-weight: bold;
	opacity: 0.5;
}

.form-group-home li {
	display: inline-block;
	padding-right: 30px;
	padding-top: 20px;
	vertical-align: top;
	color: #D0D0D0;
}


/*REGISTER*/
h1{
	text-align: center;
	font-size: 50px;
}

.link{
	text-align: center;
}

/*MYMAP*/
#mapContainer {
	height: 500px;
	margin: 20px;
	margin-left: 40px;
	padding: 0;
	display: inline-block;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

#checkboxContainer {
	border-radius: 10px;
	background-color: #93c54b;
	margin-top: 25px;
	padding: 0;
	display: inline-block;
}

#checkboxes h3{
	font-family: 'Satisfy', cursive;
	font-size: 30pt;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	margin: 10px;
}

#checkboxes {
	display: inline-block;  
	border-radius: 5px;
	padding: 10px;
	text-align: left;
}

#checkboxes label, input{
	font-size: 13pt;
}



/*RESULTS*/
.profile-background{
	background-image: url(/static/images/ecailles.png);
	background-repeat: repeat;
}

.container-horizontal{
	background-color: #FFCC99;
	outline-style: double;
	padding-bottom: 1px; 
	margin-top: -15px;
}

.container-fluid{
	padding-top: 10px;
}
.results-form {
	text-align: center;
	list-style-type: none;
	padding-left: 0;
}

.results-form li {
	display: inline-block;
	padding-right: 10px;
	vertical-align: top;
}

.form-group {
	text-align: center;
	list-style-type: none;
	padding-top: 20px;
}

.form-group li {
	display: inline-block;
	padding-right: 30px;
	padding-top: 20px;
	vertical-align: top;
}

.form-group-results {
	text-align: center;
	list-style-type: none;
	padding-top: 10px;
}

input.radio {
	margin: auto;
}

.submit-button {
	margin-top: 20px;
}


/*MODAL*/
.modal-body {
	text-align: center;
}

.modal-content {
	margin-left: 30px;
    margin-right: 70px;
}

.modal-radio {
	margin-right: 5px!important;
}

.modal-inputs {
	display: inline-block;
	vertical-align: top;
	padding-right: 15px;
	text-align: left;
}

.modal-inputs h4 {
	margin-bottom: -10px;
	text-decoration: underline;
}

.modal-inputs textarea {
	text-align: left;
	padding: 5px;
}


.modal-header{
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: #93c54b;
	background-color: #282828;
	border-radius: 10px;
}

h4{
	font-size: 15pt
}
