<!DOCTYPE html>
<html>
<head>
	<!-- set size of map canvas div -->
	<style type="text/css">
		#map-canvas {
			height: 500px;
		}
	</style>
		<!-- Use this jquery script for event handling and selecting-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script 
	    	type="text/javascript"
	      	src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"> 
	    </script>
	    <script
	    	type="text/javascript">

	    	var map;

			//create a javascript function to initialize the map to appear on web page
	    	function initialise(location)
	    	{
	    		//look in console and insert the lat/lng from the object coords with lat/lng properties under the location object in this function **********(insert location input from homepage)************
	    		var currentPosition = new google.maps.LatLng(location.coords.latitude, 
  													location.coords.longitude);
	    		//map option will show you how/what you want your map to display; required center and zoom options
	    		var mapOptions = {
  					center: currentPosition,
  					zoom: 12,
  					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				//how to make your map actually display, two parameters: map canvas in the div and mapOption object
				map = new google.maps.Map(document.getElementById("map-canvas"),
    					mapOptions);

    			//create markers
				var marker = new google.maps.Marker({
					position: currentPosition,
					map: map,
					draggable: true
				});
				//create search box


				var request = {
					location: currentPosition,
					radius: 500,
					types: ['store']
				};

				infowindow = new google.maps.InfoWindow();
				var service = new google.maps.places.PlacesService(map);
					service.nearbySearch(request, callback);
			}

			function callback(results, status) {
				if (status == google.maps.places.PlacesServiceStatus.OK) {
					for (var i = 0; i < results.length; i++) {
						createMarker(results[i])
					}
				}
			}

			function createMarker(place) {
			  	var placeLoc = place.geometry.location;
			  	var marker = new google.maps.Marker({
			    	map: map,
			    	position: place.geometry.location
			  	});

			  	google.maps.event.addListener(marker, 'click', function() {
			    	infowindow.setContent(place.name);
			    	infowindow.open(map, this);
			  	});
			}

			//jquery document. ready handle so that the script doesnt get executed until page is fully loaded 
			$(document).ready(function()
				{
				navigator.geolocation.getCurrentPosition(initialise);
				});
	    </script>
</head>
<body>

<!--create empty div to put map in-->
<div id="map-canvas"></div>
	
</body>
</html>