{% extends 'base.html' %}

{% block head %}



{% endblock %}



{% block content %}

    <h1>Start Planning Your Trip</h1>
    <form action="/searchresults" method="GET">

        <div class="form-group">
            <label>Where are you going?:
                <input type="text" name="location" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>What are you looking for?:
                <input type="text" name="term" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Search" class="button">
        </div>

    </form>


{% endblock %}