{% extends 'base.html' %}

{% block head %}
<style>
    .center_div{
        margin: 0 auto;
        width:80% 
    }
</style>

{% endblock %}



{% block content %}

<div class="container center_div">

<h1>Start Planning Your Trip</h1>

    <form action="/searchresults" method="GET">
        
        <div class="home-form">
            <label>Where are you going?:</label>
                <input type="text" name="location" required class="form-control">
        </div>
        <div class="home-form">
            <label>What are you looking for?</label>
                <input type="text" name="term" required class="form-control">
        </div>
        <ul class="home-form">
            <li>
                <label for="best-matched">Best Matched</label>
                    <input type="radio" id="best-matched" name="sort" value="0" class="radio">
            </li>
            <li>
                <label for="distance">Distance</label>
                    <input type="radio" id="distance" name="sort" value="1" class="radio">
            </li>
            <li>
                <label for="highest-rated">Highest Rated</label>
                    <input type="radio" id="highest-rated" name="sort" value="2" class="radio">
            </li>
            <br>
            <li> <input type="submit" value="Search" class="btn btn-success"></li>
        </ul>


    </form>

</div>

{% endblock %}